* {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  display: block;
}

form {
  padding: .3em 0;
  margin: .2em 0;
}

form input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .5em;
  font-size: inherit;
  outline: none;
}

form input:focus {
  outline: 2px solid rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
