//button
$btn_bg_color:#fff;
$btn_tx_color:#000;

//important color
$im_color:#c10;

//link color
$link_color:#0366d6;

//card
$card_bg_color:#fff;
$card_font_color:#bbb;
$card_title_font_color:#fff;
$card_title_bg_color:rgba(151, 8, 8, 0.863);

//nav
$nav_bg_color:#fff;

//fallback-avatar
$avatar_fallback_color:#000;
$avatar_fallback_bg_color:lightblue;

//meta信息
$meta_color:#aaa;
$meta_fz:12px;