@import './color.scss';
* {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    background: #f0f0f0;
}
body,form{
    margin:0;
}
body{
    font-family: "Noto Sans CJK", "Noto Sans CJK SC", "Source Han Sans", "Source Han Sans CN", "思源黑体", "思源黑体 CN", "WenQuanYi Micro Hei", "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "SimHei", sans-serif;
}

h1,h2,h3,h4,h5 {font-weight: 500;}

h1 {font-size: 26px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}

h1{
    margin-top: 0;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
button,.button{
    text-align: center;
    padding:.4em 1.5em .4em 1.5em;
    background:$btn_bg_color;
    color: $btn_tx_color;
    border:1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(white,.5);
    transition: all ease .2s;
    cursor: pointer;
}
button:focus,.button:focus{
    outline: none;
}
.button:hover,button:hover{
    background: mix($btn_bg_color,#f0f0f0,90%);
    box-shadow: 0 0 4px #ccc;
}
button.delete{
    background: $im_color;
    color:#fff;
    border:none;
}
button.delete:hover{
    background: mix($im_color,#444,70%);
    box-shadow: 0 0 4px darkred;
}
a,a:link,a:visited,a:active,a:hover{
    color:$link_color;
    outline: none;
    word-break: break-all;
    cursor: pointer;
}
.block{
    display:block;
    width:100%;
}
.col-24,.col-23,.col-22,.col-21,.col-20,.col-19,.col-18,.col-17,.col-16,.col-15,.col-14,.col-13,.col-12,.col-11,.col-10,.col-9,.col-8,.col-7,.col-6,.col-5,.col-4,.col-3,.col-2,.col-1,.col {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  margin-inline-start: 0;
}

.col-24 { width: 100.00000000000000%;}
.col-23 { width: 95.83333333333334%;}
.col-22 { width: 91.66666666666667%;}
.col-21 { width: 87.50000000000000%;}
.col-20 { width: 83.33333333333334%;}
.col-19 { width: 79.16666666666667%;}
.col-18 { width: 75.000000000000000%;}
.col-17 { width: 70.83333333333334%;}
.col-16 { width: 66.66666666666667%;}
.col-15 { width: 62.50000000000001%;}
.col-14 { width: 58.333333333333336%;}
.col-13 { width: 54.166666666666670%;}
.col-12 { width: 50.0000000000000000%;}
.col-11 { width: 45.833333333333336%;}
.col-10 { width: 41.666666666666670%;}
.col-9  { width: 37.5000000000000000%;}
.col-8  { width: 33.333333333333336%;}
.col-7  { width: 29.166666666666668%;}
.col-6  { width: 25.0000000000000000%;}
.col-5  { width: 20.833333333333336%;}
.col-4  { width: 16.666666666666668%;}
.col-3  { width: 12.500000000000000%;}
.col-2  { width: 8.333333333333334%;}
.col-1  {width: 4.166666666666667%;} 

.container{
    overflow: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    background: $card_bg_color;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 0;
    padding-bottom: 1px;
}
.card .title{
    margin:0;
    padding:4px 4px 4px 10px;
    color:$card_title_font_color;
    background: $card_title_bg_color;
    font-weight: 400;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear:before,
.clear:after{
    content: '';
    display: block;
    clear:both;
}
input.full {
    width: 100%;
}

input,
textarea {
    border: none;
    border-radius: 0;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0);
    caret-color: grey;//input光标颜色
}

input:focus,
textarea:focus {
    outline: none;
}
span.errmsg {
    color: #c10;
    padding-top: 0;
  }

//滚动条样式
::-webkit-scrollbar{
    width:7px;
    height: 7px;
}
::-webkit-scrollbar-button{
    width:0;
    height: 0;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border:0px none #fff;
    transition: all ease .1s;
    cursor: pointer;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover{
    background: #aaa;
}
::-webkit-scrollbar-thumb:active{
    background:gray;
}