:root {
    background: #eee;
}

h1 {
    text-align: center;
}

form {
    margin: 0;
    position: relative;
    margin-bottom: 2em;
    input {
        padding: .65em;
    }
    button[type=submit] {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 4px 0px 2px 0;
        font-size: 18px;
        position: absolute;
        top: 3px;
        right: 8px;
        &:focus {
            cursor: default;
        }
    }
}

form input {
    border-radius: .3rem;
}

.todo-list {
    .identification,
    .todo-item {
        background: #fff;
        border-radius: .3rem;
        font-size: 0;
        margin-bottom: .5rem;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        &>* {
            font-size: 1rem;
            display: inline-block;
            vertical-align: middle;
            padding: .5em;
        }
        .checkbox {
            width: 10%;
        }
        .content {
            width: 30%;
            input {
                width: 100%;
                border: 1px solid #aaa;
            }
            input:focus {
                outline: none;
                box-shadow: 0 0 0 1px #eee;
            }
        }
        .create-time {
            width: 30%;
        }
        .operations {
            width: 30%;
            text-align: right;
            button {
                background: transparent;
                border: none;
                outline: none;
                color: #aaa;
                transition: all .2s;
                padding-right: 0;
            }
            button:hover {
                border: none;
                outline: none;
                color: #c10;
                font-weight: bold;
            }
        }
    }
}